@model GifStore.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-click">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.Nome
                        </td>
                        <td>
                            @Model.Status.ToString()
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="mb-2">
            <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary float-left">Editar</a>
            <button class="btn btn-secondary d-inline-block float-left abrir-modal-remover-atividade" data-toggle="modal" data-target="#modal-remover-produto">
                <em class="mdi mdi-close"></em> Remover
            </button>
        </p>
    </div>
</div>


@section Modals {
    <div id="modal-remover-produto" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalRemoverProduto" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalRemoverProduto">Remover Produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form asp-controller="Produto" asp-action="Excluir" method="post">
                    <input type="hidden" name="produtoId" value="@Model.Id" />
                    <input type="hidden" name="id" value="" />

                    <div class="modal-body">
                        <h5 class="mb-3">Deseja realmente remover esse Produto?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger float-left">Remover</button>
                        <button type="button" class="btn btn-outline-secondary waves-effect text-left" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
