@model GifStore.Historias.Cliente.Editar.EditarClienteViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>
<div class="card">
    <div class="card-body">
        <form asp-controller="Cliente" asp-action="Editar" id="formCadastrarCliente" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" name="cpf" id="cpf" class="form-control mask-cpf" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-inverse"><em class="mdi mdi-close"></em> Cancelar</a>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="~/custom/mascaras.js"></script>
    <script src="~/custom/js/compartilhado/cadastrarCliente.js"></script>
    <script src="~/custom/js/validacoes/validarCpf.js"></script>
    <script src="~/custom/js/validacoes/validarEmail.js"></script>
}
